@space-xs: .25em;
@space-sm: .5em;
@space-md: 1em;
@space-lg: 1.5em;
@space-xl: 2em;
@space-xxl: 2.5em;
@small-font-size: 0.8em;
@default-border-radius: 0.3em;
@color-grey: #828282;
@color-grey-light: lighten(@color-grey, 40%);
@color-red: #f05458;
@color-brand: #007cdc;
@color-disabled: #888;
@color-pre-text: #336699;
@background-color: #f0f2f4;
@text-color: #333;
@secondary-text-color: @color-grey;
:root {
    --nav-background-color: #fff;
    --card-background-color: #fff;
    --color-brand: @color-brand;
    --btn-primary-text-color: #fff;
    --input-border-color: #bdc7d8;
    --color-error: @color-red;
    --color-disabled: @color-disabled;
    --border-color: @color-grey-light;
    --text-color: @text-color;
    --secondary-text-color: @secondary-text-color;
    --background-color: @background-color;
}

.night-mode {
    --nav-background-color: #000;
    --card-background-color: #2f2f31;
    --color-brand: @color-brand;
    --btn-primary-text-color: #fff;
    --input-border-color: #fff;
    --color-error: @color-red;
    --color-disabled: @color-disabled;
    --border-color: @color-grey-light;
    --text-color: #fff;
    --secondary-text-color: #ddd;
    --background-color: #191919;
}

body {
    font-family: "Microsoft Yahei", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.absolute-hv-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border-radius: @default-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    background-color: var(--card-background-color);
    padding: @space-md;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.btn,
button {
    cursor: pointer;
    appearance: none;
    border: 0;
    background-color: transparent;
    padding: @space-sm @space-md;
    &.btn-default {
        border: 1px solid @color-grey-light;
        border-radius: 2em;
        background-color: transparent;
        color: var(--secondary-text-color);
        transition: color .15s ease-in-out, background-color .15s ease-in-out;
        &:hover {
            color: var(--text-color);
            background-color: @color-grey-light;
        }
    }
    &.btn-primary {
        border-radius: @space-xl;
        background-color: var(--color-brand);
        color: var(--btn-primary-text-color);
        &.disabled,
        &:disabled {
            background-color: var(--color-disabled);
            cursor: default;
        }
    }
}

.header {
    background-color: var(--nav-background-color);
    .site-title,
    .nav-item {
        line-height: 3em;
        transition: background-color 0.15s ease-in-out;
        padding: 0 @space-md;
        &:hover {
            background-color: @color-grey-light;
        }
    }
    .site-title {
        float: left;
    }
    .nav {
        float: right;
        a.nav-item {
            color: var(--text-color);
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            &.active,
            &.active:hover {
                background-color: @color-brand;
                color: #fff;
            }
        }
    }
}

.marked {
    h1 {
        font-size: 1.6em;
        border-bottom: dashed 1px #dfdfdf;
        counter-increment: h1;
        counter-reset: h2 0;
    }
    h1:before {
        content: counter(h1) '. ';
    }
    h1:after {
        content: '#';
    }
    h2 {
        font-size: 1.4em;
        border: none;
        counter-increment: h2;
        counter-reset: h3 0;
    }
    h2:before {
        content: counter(h1) '.' counter(h2) '. ';
    }
    h2:after {
        content: '##';
    }
    h3 {
        font-size: 1.2em;
        border: none;
        counter-increment: h3;
        counter-reset: h4 0;
    }
    h3:before {
        content: counter(h1) '.' counter(h2) '.' counter(h3) '. ';
    }
    h3:after {
        content: '###';
    }
    h4 {
        font-size: 1.1em;
        border: none;
        counter-increment: h4;
        counter-reset: h5 0;
    }
    h4:before {
        content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '. ';
    }
    h4:after {
        content: '####';
    }
    h1:after,
    h2:after,
    h3:after,
    h4:after {
        color: #888;
        position: relative;
        left: @space-xs;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    h1:hover:after,
    h2:hover:after,
    h3:hover:after,
    h4:hover:after {
        left: @space-sm;
        opacity: 1;
    }
    p {
        margin: @space-sm 0;
    }
    blockquote {
        color: var(--secondary-text-color);
        border-left: @space-sm solid @color-grey-light;
        background-color: fade(@color-grey-light, 50%);
        padding: @space-md;
        margin: @space-sm 0;
    }
    ul {
        list-style: initial;
        margin: @space-md 0;
        padding-left: @space-lg;
    }
    pre,
    code {
        background-color: @background-color;
        font-family: inherit;
    }
    pre {
        border-radius: @default-border-radius;
        padding: @space-xl;
        overflow-x: auto;
        white-space: pre-wrap;
        color: @color-pre-text;
        margin: @space-md 0;
    }
    code {
        border-radius: @default-border-radius;
        padding: .1em @space-xs;
        color: #c7254e;
        display: inline-block;
        font-family: "Consolas", monospace;
        font-weight: bold;
        margin: 0 @space-xs;
    }
    table {
        border-collapse: separate;
        border-radius: @default-border-radius;
        border: @space-xs solid var(--border-color);
        tr:first-child {
            th,
            td {
                border: 0;
            }
        }
        th,
        td {
            padding: @space-xs @space-sm;
            border-top: solid 1px var(--border-color);
        }
    }

    img {
        max-width: 100%;
        vertical-align: middle;
        border-radius: @default-border-radius;
        border: .3em solid var(--border-color);
    }
    
}