@text-color: #333;
@grey-color: #828282;
@grey-color-light: lighten(@grey-color, 40%);
@spacing-unit: 1em;
@small-font-size: 0.8em;
@default-border-radius: 0.5em;
@brand-color: #007cdc;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  border-radius: @default-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  padding: @spacing-unit;
}